<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<base href="__STATIC__/admin/">
<link href="css/shop.css" type="text/css" rel="stylesheet" />
<link href="css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="js/Validform/Validform.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script src="js/shopFrame.js" type="text/javascript"></script>
<script src="js/Sellerber.js" type="text/javascript"></script>
<script src="js/layer/layer.js" type="text/javascript"></script>
<title>添加用户</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
<div class="margin add_administrator" id="page_style">
    <div class="add_style add_administrator_style">
    <div class="title_name">添加用户</div>
    <form action="{:url('User/user_update_do')}" method="post" id="form-admin-add">
	    <ul>
		    <li class="clearfix">
		        <label class="label_name col-xs-2 col-lg-2"><i>*</i>机构名称：</label>
		        <div class="formControls col-xs-6">
		        	<input type="text" class="input-text col-xs-12" value="<?php echo $User_Date['mechanism_name']; ?>" placeholder="机构名称" id="user-name" name="mechanism_name" datatype="*" nullmsg="机构名称不能为空">
		        	<input type="hidden" value="<?php echo $User_Date['user_id']; ?>" name='user_id' />
		        </div>
		    	<div class="col-4"> <span class="Validform_checktip"></span></div>
		    </li>
			
			<li class="clearfix">
		        <label class="label_name col-xs-2 col-lg-2"><i>*</i>机构编码：</label>
		        <div class="formControls col-xs-6">
		        	<input type="text" class="input-text col-xs-12" value="<?php echo $User_Date['mechanism_code']; ?>" placeholder="机构编码" id="user-name" name="mechanism_code" datatype="*" nullmsg="机构编码不能为空">
		        </div>
		    	<div class="col-4"> <span class="Validform_checktip"></span></div>
		    </li>

		    <li class="clearfix">
		      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>机构类型：</label>
		      <div class="formControls col-xs-6"> <span class="select-box" style="width:150px;">
					<select class="select" name="mechanism_type" size="1">
						<?php foreach ($mechanism_data as $key => $value) { ?>
							<option <?php if($User_Date['mechanism_type'] == $value['mechanism_type_id']) echo 'selected'; ?> value="{$value.mechanism_type_id}">{$value.mechanism_type_name}</option>
						<?php } ?>
					</select>
					</span>
		         </div>
		     </li>

		    <li class="clearfix">
		        <label class="label_name col-xs-2 col-lg-2"><i>*</i>联系人：</label>
		        <div class="formControls col-xs-6">
		        	<input type="text" class="input-text col-xs-12" value="<?php echo $User_Date['contacts_name']; ?>" placeholder="联系人" id="" name="contacts_name" datatype="*" nullmsg="联系人不能为空">
		        </div>
		    	<div class="col-4"> <span class="Validform_checktip"></span></div>
		    </li>
	
			<li class="clearfix">
		        <label class="label_name col-xs-2 col-lg-2"><i>*</i>联系方式：</label>
		        <div class="formControls col-xs-6">
		        	<input type="text" class="input-text col-xs-12" value="<?php echo $User_Date['contact_information']; ?>" placeholder="联系方式" id="" name="contact_information" datatype="*" nullmsg="联系方式不能为空">
		        </div>
		    	<div class="col-4"> <span class="Validform_checktip"></span></div>
		    </li>
	
			<li class="clearfix">
		        <label class="label_name col-xs-2 col-lg-2">机构地址：</label>
		        <div class="formControls col-xs-6">
		        	<input type="text" class="input-text col-xs-12" value="<?php echo $User_Date['mechanism_address']; ?>" placeholder="机构地址" id="" name="mechanism_address" datatype="" nullmsg="机构地址不能为空">
		        </div>
		    	<div class="col-4"> <span class="Validform_checktip"></span></div>
		    </li>

		    <li class="clearfix">
				<div class="col-xs-2 col-lg-2">&nbsp;</div>
				<div class="col-xs-6">
				    <input class="btn button_btn bg-deep-blue " type="submit" id="Add_Administrator" value="提交修改">
			        <input name="reset" type="reset" class="btn button_btn btn-gray" value="取消重置" />
			        <a href="javascript:ovid()" onclick="javascript :history.back(-1);" class="btn btn-info button_btn"><i class="fa fa-reply"></i> 返回上一步</a>
				</div>
			</li>
    	</ul>
    </form>
    </div>
    <div class="split_line"></div>
    <div class="Notice_style l_f">
    </div>
</div>
</body>
</html>
<script>

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
//表单验证提交
$("#form-admin-add").Validform({		
		 tiptype:2,
		callback:function(data){
		//form[0].submit();
		if(data.status==1){ 
                layer.msg(data.info, {icon: data.status,time: 1000}, function(){ 
                    location.reload();//刷新页面 
                    });   
            } 
            else{ 
                layer.msg(data.info, {icon: data.status,time: 3000}); 
            } 		  
			var index =parent.$("#iframe").attr("src");
			parent.layer.close(index);
		}				
	});
</script>
