<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<base href="__STATIC__/admin/">
<link href="css/shop.css" type="text/css" rel="stylesheet" />
<link href="css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script src="js/shopFrame.js" type="text/javascript"></script>
<script src="js/Sellerber.js" type="text/javascript"></script>
<script src="js/layer/layer.js" type="text/javascript"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.bootstrap.js"></script>
<title>加密卡采购订单列表</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
<div class="margin Competence_style" id="page_style">
    <div class="operation clearfix">
<a href="javascript:void(0)"  class="btn button_btn bg-deep-blue" title="财务付款填写发票列表"><i class="fa  fa-edit"></i>&nbsp;财务付款填写发票列表</a>
 

</div>
<div class="compete_list">
   <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
	 <thead>
		<tr>
			<th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
			<th>合同号</th>
	        <th>地区</th>
	        <th>采购数量</th>
	        <th>单价</th>
	        <th>总价</th>
	        <th>订单状态</th>
	        <th>发票号码</th>
			<!-- <th class="hidden-480">操作</th> -->
        </tr>
	</thead>
    <tbody>
	    <?php foreach ($purchase_list_data as $key => $v) { ?>
			<tr>
				<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
				<td>{$v.purchase_contract_number}</td>
				<td>
					<?php if($v['purchase_address'] == 1){
					echo '达州';
					} else {
					echo '营口';
					} ?>
				</td>
				<td>{$v.purchase_number}</td>
				<td>{$v.purchase_price}</td>
				<td>{$v.purchase_sum_price}</td>
				<td style="cursor:pointer;" class="check" purchase_number='{$v.purchase_number}' purchase_address='{$v.purchase_address}' purchase_state='{$v.purchase_state}' purchase_id="{$v.purchase_id}">
					<?php if($v['purchase_state'] == 1){
						echo '待付款（点我付款）';
					} elseif($v['purchase_state'] == 2) {
						echo '待发票录入（点我录入发票号码）';
					} else{
						echo '已完成';
					} ?>
				</td>
				<td>
					<?php if($v['invoice_number'] == 0){
						echo '暂无';
					} else {
						echo $v['invoice_number'];
					} ?>
				</td>
	            
				<!-- <td class="td-manage">
				
	             	<a title="编辑" onclick="Competence_modify('560')" href="{:url('Jurisdiction/admin_update')}?purchase_id={$v.purchase_id}" class="btn button_btn bg-deep-blue">编辑</a>
	             	<a title="删除" href="javascript:;" onclick="Competence_del(this,'{$v.purchase_id}')" purchase_id="{$v.purchase_id}" class="btn button_btn btn-danger admin_del">删除</a>
				</td> -->
			</tr>
		<?php } ?>
		      </tbody>
	        </table>
     </div>
</div>
</body>
</html>
<script>
$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0){
			$("#sample_table tbody tr").show()
		}else{
		$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
			}
	}).click();	
});

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
/*管理员-停用*/
function Competence_close(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		var mechanism_type_id = $(obj).attr('mechanism_type_id');
		$.ajax({
			url:'{:url("Mechanism/update_mechanism_state")}',
			type:'post',
			data:{
				'mechanism_type_state':2,
				'mechanism_type_id':mechanism_type_id
			},
			dataType:'json',
			success:function(data){
				if(data.state == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn button_btn btn-gray" onClick="Competence_start(this,id)" mechanism_type_id='+mechanism_type_id+' href="javascript:;" title="启用">启用</a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success label-sm">已停用</span>');
					$(obj).remove();
					layer.msg('已停用!',{icon: 5,time:1000});
				} else{
					layer.msg('操作失败，请重新操作!',{icon: 5,time:1000});
				}
			}
		});
		
	});
}

/*管理员-启用*/
function Competence_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		var mechanism_type_id = $(obj).attr('mechanism_type_id');
		$.ajax({
			url:'{:url("Mechanism/update_mechanism_state")}',
			type:'post',
			data:{
				'mechanism_type_state':1,
				'mechanism_type_id':mechanism_type_id
			},
			dataType:'json',
			success:function(data){
				if(data.state == 1){
					$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" class="btn button_btn  btn-Dark-success" onClick="Competence_close(this,id)" mechanism_type_id='+mechanism_type_id+' href="javascript:;" title="停用">停用</a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success label-sm">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!',{icon: 6,time:1000});
				}else{
					layer.msg('操作失败，请重新操作!',{icon: 5,time:1000});
				}
			}
		});

		
	});
}
/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
	var that = this;
	$(this).closest('table').find('tr > td:first-child input:checkbox').each(function(){
		this.checked = that.checked;
		$(this).closest('tr').toggleClass('selected');
	});
						
});

$('.check').click(function(){
	var purchase_state = $(this).attr('purchase_state');//订单状态
	var purchase_id = $(this).attr('purchase_id');//订单ID
	var purchase_number = $(this).attr('purchase_number');//采购数量
	var purchase_address = $(this).attr('purchase_address');//采购库房
	obj = $(this);
	if(purchase_state == 1){
		if(confirm('确认付款？')){
			$.ajax({
				url:"{:url('Purchase/financial_payment_pay')}",
				type:'post',
				data:{
					'purchase_state':2,
					'purchase_id':purchase_id,
					'purchase_number':purchase_number,
					'purchase_address':purchase_address
				},
				dataType:'json',
				success:function(data){
					if(data.state == 1){
						alert('付款成功！');
						obj.attr('purchase_state', 2);
						obj.html('待发票录入（点我录入发票号码）');
					} else {
						alert('付款失败！');
					}
					
				}
			});
		}
	} else if(purchase_state == 2){
		if(invoice_number = prompt('请输入发票号码！')){
			$.ajax({
				url:"{:url('Purchase/financial_payment_invoice')}",
				type:'post',
				data:{
					'invoice_number':invoice_number,
					'purchase_id':purchase_id
				},
				dataType:'json',
				success:function(data){
					if(data.state == 1){
						alert('发票信息录入成功！');
						obj.attr('purchase_state', 3);
						obj.html('已完成');
						obj.next().html(invoice_number);
					} else {
						alert('发票录入失败！');
					}
					
				}
			});
		}
	}

});
</script>
